.chart{
    p{
        margin-left:10%;
        margin-top:5%;
        color:#705446;
        .me{
            font-weight: 700;
           
        }
        
    }

    .chartImage{
        height:100vh;
        margin-bottom:0px;
       
       img{
        height:70vh;
        margin-top:3%;
        margin-left:10%;
        border:2px solid #705446;
       }
    }

    .chartText{
       font-family: serif;

       
        p{
            margin-right:10%;
            line-height:1.1;
            span {
                    font-weight: 700;
                    text-decoration: underline;
                }
        }
    }
}

.experience{

    .experienceTextL{
       
       margin-top:2%;
        h4,p{
           margin-left:4%;
           margin-top:3%;
        }
    }
    .experienceTextR{
       // background-color: blue;
       margin-top:2%;
        h4, p{
            margin-right: 2%;
            margin-top:3%;
        }
    }
}
.carousel{
    width:100%;
    height:60vh;
   // background-color: red;
    
    img{
        width:18rem;
        height:50vh;
        object-fit:contain;
        margin:3% 2%;
        
    }
    

}