.contact-bar{
    text-align: center;
    background-color:#e1c49134;
    padding:5% 0;
    h2, h3{
        padding-top:5%;
    }
    .contactcol {
        display: flex;
        justify-content:space-evenly;
    }
    .contact-button{
        background-color:#665941;
        border:none;
        border-radius: 50%;
        width:8rem;
        height:8rem;
        margin-top:5%;
        &:hover{
            animation: bounce 1s infinite;
        }
        
        
        img{
            width:5rem;
            margin:15% auto;
        }
    }
}
.contactform{
    height:50vh;
    margin-bottom:0;
  
    .inputform{
        margin:5% 5%;
        .label{
            margin-top:2%;
        }
        .submitbtn{
            margin-top:2%;
            background-color:#E1C391;
            color:black;
            border:none;
            width:8rem;
            height:2.5rem;
            margin-left:70%;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}