@keyframes bounce {
    0% {transform: translateY(0);}
    50%{transform:translateY(-8px);}
    100%{transform:translateY(0);}
}


hr{
    border:6px outset #705446;    
}
.arrowChange{

display:flex;
justify-content: center;
height:40px;
width:80%;
margin:-10px auto;

}
.arrowChange:hover {
    animation: bounce 1s infinite;
    animation-timing-function: ease;
}

.initials {
    margin:3rem auto;
    img{
    width:30px;
    height:30px;
}
}