.homeCard{
    .container{
        margin:0 8%;
    }
}

.card{
    width:16rem;
    border:2px solid #3C3431;
    background-color: #FDF4E3;
    color:#705446;
    .card-img-top{
       padding:10px 10px;
    }
}