
.about{

   width: 100%;
   margin-top:5%;
}
.about-title{
    color: #705446;
    line-height: 3cm;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#img-chart{
    margin-left:4%; 
    width:100vh;
    //border:#705446 1px solid;
    box-shadow:-5px -5px 10px #705446;
   
    .pixel-img{
        height:60vh;
        image-rendering: pixelated;
        transition:all 0.5s ease-in-out;
    }
    .clear-img{
        height:70vh;
        image-rendering:auto;
        transition:all 0.5s ease-in-out;
    }
}

.year-option{
    margin:0 auto;
    width:80%;
    span{
        font-weight: 900;
    }
    .more-detail{
        display:flex;
        justify-content: flex-end;
    
        button{
            border-radius:50%;
            color: #705446; 
            &:hover{
                background-color: #E1C391; 
            } 
        }
    }
}