@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

.navbar{
    animation:fadein ease 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
   a{
    color: #FDF4E3;
   }
  
}
#nav-logo{
    font-family: 'Babylonica',cursive;
    font-weight: 700;
    text-decoration: none;
    font-size:2.5rem;
    margin-right:10px;
}

.nav-button{
    
    &:hover{
        color: #efb13d;
    }
}


@keyframes fadein {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}